<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Login</a></li>
    </ol>
</nav>

{{#if alert}}
<div class="alert alert-danger" role="alert">
    {{alert}}
</div>
{{/if}}

<form action="/signin" method="post">
    <div class="row">
        <div class="col-md-12">
            <label for="exampleInputEmail1" class="form-label">Username</label>
            <input type="text" name="username"
                class="form-control">
        </div>
        <div class="col-md-12">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" name="password"
                class="form-control">
        </div>

    </div>

    <br>
    <div class="row">
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </div>
</form>